:root {

    --background-color: #FFFFFF;

    --surface-color: #f4f4f4;
    --surface-dark: #c1c1c1;
    --surface-light: #ffffff;
    --surface-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    --primary: #ebb5e6;
    --primary-dark: #b885b4;
    --primary-light: #ffe7ff;

    --warning: #c62828;
    --warning-dark: #8e0000;
    --text-on-warning: #FFFFFF;
}

main {
    margin-top: 5rem;
    padding: 1rem;
}

.delete-button {
    background-color: var(--warning);
    border-color: var(--warning-dark);
    color: var(--text-on-warning);
    font-weight: bold;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: fit-content;
}

nav {
    background-color: var(--surface-color);
    top: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.navbar-link {
    margin-left: 1rem;
    cursor: pointer;
    display: block;
}

.sidebar {
    background-color: var(--surface-color);
    box-shadow: var(--surface-shadow);
    width: 14rem;
    height: 100vh;
    position: fixed;
    transition: width 200ms ease;
    text-align: center;
}

.sidebar input {
    width: 80%;
}

.recipe-grid {
    margin-left: 14rem;
    padding-left: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

.recipe-card {
    background-color: var(--surface-color);
    box-shadow: var(--surface-shadow);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.tag {
    background-color: var(--primary);
    border: 1px solid var(--primary-dark);
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: fit-content;
}

.tag.selected {
    background-color: var(--primary-dark);
}

.tag-grid {
    padding-top: 1rem;
    margin-left: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr))
}

.tag-grid .tag {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.comments-container {
    margin-left: 16rem;
    padding-left: 1rem;
    background-color: var(--background-color)
}

.comments-header {
    font-size: 16px;
    font-weight: bold;
}

.comment {
    background-color: var(--surface-color);
    box-shadow: var(--surface-shadow);
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
}

.comment-metadata {
    font-style: italic;
}

.recipe-container {
    margin-left: 16rem;
    padding-left: 1rem;
    background-color: var(--background-color)
}

.recipe-header {
    background-color: var(--surface-color);
    box-shadow: var(--surface-shadow);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.recipe-header input {
    height: 1rem;
    width: 2rem;
}

.recipe-method {
    background-color: var(--surface-color);
    box-shadow: var(--surface-shadow);
}

.recipe-method ul {
    padding: 0;
    margin: 1rem;
}

.recipe-method li {
    list-style: none;
}

.recipe-method li .checked {
    color: var(--surface-dark);
    text-decoration: line-through;
}

ul.ingredientlist {
    padding: 0;
    margin: 1rem;
    list-style: none;
    text-align: left;
}

.ingredientlist input {
    width: initial;
}

.ingredientlist li .checked {
    color: var(--surface-dark);
    text-decoration: line-through;
}

.mealplan-container {
    display: flex;
    flex-direction: column;
}

.mealcard-row {
    display: flex;
    flex-direction: row;
}

.mealcard {
    background-color: var(--surface-color);
    box-shadow: var(--surface-shadow);
    margin: 1rem;
    padding: 0.5rem;
    width: fit-content;
}

.mealcard-header {
    padding: 5px 5px;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}

.mealcard-mealname {
    width: 5rem;
}

.mealcard-servingscount {
    width: 1rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--surface-color);
    width: 750px;
    max-width: 80%;
    max-height: 90vh;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .closebutton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    max-height: 75vh;
    overflow-y: auto;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}