html {
    font-size: 10px;
    font-family: sans-serif;
    background-color: #f2f2ed;
}

.main {
    margin-top: 5rem;
}

.navbar {
    background-color: #856382;
    width: 100vw;
    height: 5rem;
    position: fixed;
    transition: height 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.link-text {
    display: block;
    margin-left: 1rem;
}


body {
    margin: 0 auto;
    padding: 0;
    background-color: #FAF9F6;
    border: 5px solid black;
}

.card {
    background-color: #d9d9d4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tag {
    background-color: #ebb5e6;
    border-radius: 5px;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}