main {
    margin-top: 5rem;
    padding: 1rem;
}

nav {
    background-color: #d9d9d4;
    top: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.navbar-link {
    margin-left: 1rem;
    cursor: pointer;
    display: block;
}

.sidebar {
    background-color: #d9d9d4;
    width: 14rem;
    height: 100vh;
    position: fixed;
    transition: width 200ms ease;
    text-align: center;
}

.sidebar input {
    width: 80%;
}

.recipe-grid {
    padding-left: 1rem;
    margin-left: 14rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

.recipe-card {
    background-color: #d9d9d4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.tag {
    background-color: #ebb5e6;
    border:1px solid #bf93bb;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: fit-content;
}

.tag-grid {
    padding-top: 1rem;
    margin-left: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr))
}

.tag-grid .tag {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .closebutton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}