<!doctype html>
<title>{% block title %}{% endblock %} - Cookbook</title>
<nav>
  <h1>Menu</h1>
  <ul>
    <li><a href="{{ url_for('recipes') }}">Recipes</a>
    <li><a href="{{ url_for('add_recipe') }}">Add recipe</a>
    <li><a href="{{ url_for('mealplan') }}">Mealplan</a>
    <li><a href="{{ url_for('shopping_list') }}">Shopping list</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>