{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content%}
    <h1>Tags</h1>
    Available tags: {{', '.join(tags)}}
    <form>
        <label for="tags">Filter tags:</label>
        <input name="tags" id="tags">
        <input type="submit" hidden/>
    </form>
    
    <h1>Recipes</h1>
    <form>
        <input name="search" id="search" placeholder="Search by name">
        <input type="submit" hidden/>
    </form>
    <ul>
        {% for recipe in recipes %}
            <p><a href="#{{recipe['name']}}">{{recipe['name']}}</a></p>
        {% endfor %}
    </ul>


    {% for recipe in recipes %}
        <h2 id="{{recipe['name']}}"><a href="{{ url_for('get_recipe', id=recipe['id'])}}">{{recipe['name']}} ({{ recipe['servings'] }} servings)</a></h2>
        <b>Tags:</b> {{ recipe['tags'] }}
        <ul>
            {% for ingredient in ingredients|selectattr("recipe_id", "equalto", recipe['id']) %}
                <li>{{ingredient['name']}} {{ingredient['quantity']}}{{ingredient['measure']}}</li>
            {% endfor %}
        </ul>
        <p>{{recipe['method']}}</p>
    {% endfor %}

{% endblock %}