{% extends 'base.html' %}

{% block title %}{{ recipe['name'] }}{% endblock %}

{% block content%}

<section class="ingredientlist">
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in ingredients %}
        <li>
            <input type="checkbox">
                {{ ingredient['name'] }} {{ "%g"|format(ingredient['quantity']) }}{{ ingredient['measure'] }}
            </input>
        </li>
        {% endfor %}

    </ul>
</section>

<section class="recipe-header">
    <h1>{{ recipe['name'] }}</h1>
    <p>{{ "%g"|format(recipe['servings']) }} servings</p>
    <div class="tag-grid">
        {% for tag in recipe['tags'].split(',') %}
            <div class="tag">{{ tag }}</div>
        {% endfor %}
    </div>
    </section>
<section class="method">
    <h2>Method</h2>
    <ul>
        {% for line in recipe['method'].split('\r\n') %}
        <li>
            <input type="checkbox">
                {{ line }}
            </input>
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock %}