{% extends 'base.html' %}

{% block title %}Shopping list{% endblock %}

{% block content%}
<form method="post">
    <label for="start_date">Start date</label>
    <input id="start_date" type="date" name="start_date">
    <label for="end_date">End date</label>
    <input id="end_date" type="date" name="end_date">
    <input type="submit">
    <h1>Shopping list</h1>
    <ul>
        {% for recipe in items %}
            <li>{{ recipe['recipe'] }}</li>
            <ul>
                {% for ingredient in recipe['ingredients'] %}
                <li>{{ ingredient['name'] }} {{ "%g"|format(ingredient['quantity']) }}{{ingredient['measure']}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</form>

{% endblock %}